body{   
    background: #d1cece;  
}  
#frm{  
    border: solid gray 1px;  
    width:25%;  
    border-radius: 2px;  
    margin: 120px auto;  
    background: white;  
    padding: 50px;  
}  
.output
{
    width:25%; 
    border: solid gray 1px;
     
    margin: 120px auto;
    border-radius: 2px;
}

